$almost-white: #E8E7E5;
$very-light-grey: #F7F7F7;
$light-grey: #E2E2E2;
$orange: #F77200;
$grey: #989795;
$more-grey: #818181;
$dark-grey: #332c2c;
$almost-black: #1B1515;
$darken: rgba(0, 0, 0, 0.3);